main{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.marco{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 15vh;
    background-image: url('/img/imgBotellas/3botellasSerigrafiaMarco2.jpg');
    background-repeat: repeat-x;
    background-size:cover;
}

.comprar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    width: 100%;
   
   
}

.comprar img{
    width: 20em;
    height: 20em;
    margin: 3em;
    align-self: center;
}


.productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    height: max-content;
    background-color: white;
}
.productos h6{
    font-size: 2em;
    text-align: center;
}
.productos p{
    text-align: center;
    font-size: 1em;
}
.productos button{
    align-self: center;
    width: 50%;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid 2px black;
    font-size: 1.5em;
    background-color: transparent;
  
}

.productos button:hover{
    background-color: black;
    color: white;
}

.marco2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    background-image: url('/img/imgBotellas/3botellasSerigrafiaMarco2.jpg');
    background-repeat: repeat-x;
    background-size:cover;
}


.marco2 button{
    width: 20%;
    height: min-content;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: solid 2px black;
    font-size: 1.5em;
    background-color: transparent;
}
.precios table{
    margin: 2em;
    border: solid 3px black;
    display: none;
    height: auto;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.precios th, td {
    width:  25vw;
    text-align: center;
    vertical-align: top;
    border: 1px solid #000;
 }
