.contenedorMax {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}

main {
    width: 70%;
    height: max-content;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.marco {
    background-image: url('../img/imgBotellas/3botellasSerigrafiaMarco2.jpg');
    width: 100%;
    height: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    margin-top: 2em;

}

.error {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;

}


.marca {
    text-align: center;
    width: 80%;
}

#err {
    font-size: 300px;
    font-weight: bold;
}

.experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 2em;
}

.experiencia p {
    line-height: 2em;
    font-style: italic;
}

.experiencia p:last-child {
    font-weight: bold;
    font-size: 2em;
}

aside {
    border-left: solid 2px black;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

aside li{
    list-style: none;
    line-height: 2em;
}

aside a, aside a:hover{
    text-decoration: none;
    color: black
}

.experiencia a:hover, .experiencia a{
    color:black;
}

span {
    text-decoration: underline;
}

.noticias h2{
    margin-bottom: 2em;
}