main{
    background-color: white;
    width: 100%;
    height: auto;
}


.cabecera{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    height: 15%;    
}
.cabecera h1{
    font-size: 3em;
    margin-top: 2em;
}

.cabecera h2{
    margin-bottom: 2em;
}

/*Engloba el formulario y las newslatter*/
.contacto{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    height: 50%;
    gap: 20%;
    margin-bottom: 3em;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: auto;
}

span{
    color: red;
    font-size: 12px;
}

.contactForm label{
    font-weight: bold;
    margin-top: 1em;
}

.inp{
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
}

#enviar{ /*boton enviar formulario */
    margin-top:1em ;
    margin-right: 1em;
    padding: 1em;
    width:15em;
    border: solid 2px black;
    font-size: 1em;
    font-weight: bold;
    background-color: black;
    color: white;
}
a, a:visited{text-decoration: none; 
    color: black;
    margin-left:3px ;
}

.newsLetter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    width: 40%;
}
.newsLetter h2{
    font-weight: 900;
    font-size: 2em;
    margin: 4em;
}
.newsLetter h3{
    margin-bottom: 2em;
}

.newsLetter p{
    width: 100%;
}

.susNovedades{
    animation-name: novedades;
    animation-duration: 5s;
  

}


#inpsuscribirse{
    width: 70%;
    height: 3em;
    box-shadow: 1px 1px 1px rgb(0,0,0,0.2);
}
#btnsuscriberse{
    width: 20%;
    height: 3em;
    background-color: black;
    color: white;
    border: none;
    animation-name: botonSuscribirse;
    animation-duration: 7s;
    animation-iteration-count:infinite;
    transition-timing-function: ease;
}
/*Creación de animación para el boton de suscribirse*/
@keyframes botonSuscribirse {
    0%   {background-color: black;}
    25%  {background-color:red;}
    50%  {background-color: black;}
    100% {background-color:red;}
}

@keyframes novedades{
    from{
        margin-left: 35%;
    }
    to{
        margin-right: 0%;
    }
}


#pdatos{
    text-align: left;
    margin-left: 39px;
    margin-right: 5px;
    margin-top: 1em;
}

#pdatos input{
    margin-right: 5px;
}
/******Direccion de la bodega con los mapas de google******/

.separador{
    border: solid 1px #0f0f0f;
    
}
.direccion{
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
    height: 35%;
}

.dir{
    line-height: 2em;
}
.dir p{
    font-size: 1em;
}
h5{
   text-align: center;
}